/* ROOT */
:root {
    --black: #000000;
    --white: #FFFFFF;
    --gray: #E9EBEE;
    --green: #5D9C3E;
    --red: #9C3E48;
    --blue: #064A8A;
}

/* GENERAL STYLING */
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
/* tag styling */
h1 {
    font-size: 75px;
    margin-bottom: 25px;
}

button {
    border: 2px solid var(--black);
    cursor: pointer;
}

button:hover {
    opacity: 0.90;
}

button.operator:hover {
    background-color: var(--blue);
    color: var(--white);
}

button#equalsBtn:hover {
    background-color: var(--green);
    color: var(--white);
}

button#clearBtn:hover {
    background-color: var(--red);
    color: var(--white);
}

button#deleteBtn:hover {
    background-color: var(--red);
    color: var(--white);
}


/* CONTAINER STYLING */
.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
}
/* CALCULATOR STYLING */
.calculator {
    align-items: center;
    background-color: var(--black);
    border: 2px solid var(--gray);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
    width: 400px;
}

.screen {
    background-color: var(--gray);
    border: 2px solid var(--black);
    border-radius: 10px;
    height: 100px;
    margin: 10px 0;
    width: 90%;
}

/* #clearBtn {
    background-color: var(--red);
    border: 2px solid var(--black);
    border-radius: 10px;
    color: var(--white);
    height: 60px;
    padding: 25px;
    width: 100px;
} */



/* FOOTER STYLING */
.footer {
    bottom: 0;
    margin-bottom: 10px;
    position: absolute;
}
